/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}
@media only screen and (max-width : 1100px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.footer-menu {padding: 0;display: block!important;}

.footer-menu-li {
    display: inline-block!important;
    padding: 0 3.6%;
    position: relative;
}
.footer-menu-li:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 3px;
    width: 2px;
    height: 13px;
    background: #6C7A83;
}
.footer-contacts-header {margin-top: 20px;}
.title_page h1 {font-size: 20px;}
.title_page h1 span {padding: 0 35px;}
.sp-selected-thumbnail {border-left: 0px solid transparent;background: #273238;}
.sp-top-thumbnails.sp-has-pointer .sp-thumbnail {
    position: absolute;
    top: 15px;
    bottom: auto;
    width: 100%!important;
}
.sp-thumbnail-title {text-align: center;width: 100%!important;    padding: 8px 0px 0 16px;}
.sp-thumbnail-container {border-left: 5px solid #383F45;background: #273238;}

}
@media only screen and (max-width : 850px) {
.sp-thumbnail-title {}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.title_page h1 { font-size: 18px;}
.title_page h1 span { padding: 0 15px;}
.content_offer_services {    padding-bottom: 20px;}

}
@media only screen and (max-width : 650px) {
.sp-thumbnail-title {padding: 0px 0px 0 16px;}
.sp-thumbnail-title {text-align: center;width: 100%!important; padding: 0px 0px 0 16px;    margin-left: 0%;}

	}
@media only screen and (max-width : 600px) {
.sp-thumbnail-container {border-left: 0px solid #383F45; margin: 0px!important;}
	}
@media only screen and (max-width : 550px) {
	
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.we_offer.services_we_offer {
    padding-top: 70px;
}
}