
@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-Italic.woff') format('woff'), url('Ubuntu-Italic.ttf')  format('truetype'), url('Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
