
@font-face {
  font-family: 'Ubuntu-LightItalic';
  src: url('Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-LightItalic.woff') format('woff'), url('Ubuntu-LightItalic.ttf')  format('truetype'), url('Ubuntu-LightItalic.svg#Ubuntu-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
