
@font-face {
  font-family: 'Orbitron-Medium';
  src: url('Orbitron-Medium.eot?#iefix') format('embedded-opentype'),  url('Orbitron-Medium.woff') format('woff'), url('Orbitron-Medium.ttf')  format('truetype'), url('Orbitron-Medium.svg#Orbitron-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
